
<template name="index">
  <head>
    <meta charset="utf-8">
    <title>Meteor Space • TodoMVC</title>
  </head>
  <section id="todoapp">
aa
    <header id="header">
      <h1>todos</h1>
      {{> Template.dynamic template=input}}
    </header>

    <section id="main">
      {{> Template.dynamic template=todo_list}}
    </section>

    <footer id="footer">
      {{> Template.dynamic template=footer}}
    </footer>

  </section>

  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p><a href="http://github.com/Meteor-Space">Meteor Space</a> implementation by Dominik Guzei - <a href="http://github.com/CodeAdventure">GitHub</a>&nbsp;&nbsp;<a href="http://twitter.com/DominikGuzei">Twitter</a></p>
    <p>Part of <a href="http://todomvc.com/">TodoMVC</a></p>
  </footer>

</template>
